*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #F8EEFF; 
    position: relative;
    min-height: 100vh;
}

header{
    width: 100%;
    height: 40px;
}

main{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90%;
    padding-bottom: 2.5rem;
}

.contenedorcajatexto{
    position: absolute;
    display: inline-block;
    left: 150px;
    top: 100px;
    padding-left: 100px;
    width:30%;
    height: 300px;
}

.cajatexto{
    width: 80%;
    height: 100%;
    border: none;
    background-color: #F8EEFF;
    cursor: pointer;
    color: #b88bd7;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    resize: none;
    outline-style: none;
}

.cajatexto::placeholder{
    color: #b88bd7;
}

.alerta{
    position: absolute;
    top: 450px;
    left: 200px;
    display: flex;
    color: #495057;
}

.contenedor-botones{
    position: absolute;
    display: flex;
    top: 487px;
    height: 67px;
    padding-left: 100px;
    padding-top: 15px;
}

.btn-encriptar{
    width: 348px;
    height: 67px;
    border-radius: 24px;
    background-color: #b88bd7;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

.btn-desencriptar{
    width: 348px;
    height: 67px;
    border-radius: 24px;
    background-color: #dcdaec;
    color: #b88bd7;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #b88bd7;
    cursor: pointer;
}

.seccion2{
    display: block;
    position: relative;
    width: 400px;
    height: 580px;
    top: 20px;
    right: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
}

.contenedormunieco{
    position: absolute;
    left: 80px;
    box-sizing: border-box;
    padding-top: 50px;
}

.contenedor-parrafo{
    position: absolute;
    box-sizing: border-box;
    top: 350px;
    left: 50px;
 }

 .contenedor-parrafo h3{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #343A40;
}

.contenedor-parrafo p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
    padding-top: 20px;
}

.contenedor-resultado{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 320px;
    height: 450px;
    padding: 0;
    box-sizing: border-box;
    margin-left: 25px;
}

.contenedor-resultado p{
    color: #fb982b;
    font-size: 25px;
}

.contenedor-copiar{
    display: flex;
    position: absolute;
    top: 450px;
    padding-left: 40px;
}

.btn-copiar{
    width: 348px;
    height: 67px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #b88bd7;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #b88bd7;
    cursor: pointer;
    position: relative;
    top: 50px;
    right: 4px;
}

.ocultar{
    display: none;
}

.footer{
    position: absolute;
    top: 650px;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    background-color: black;
    color: white;
}

@media screen and (max-width:480px) {

    .logo{
        padding-left: 120px;
    }

    .contenedorcajatexto{
        top: 170px;
        left: 80px;
        padding-left: 60px;
        width: auto;
        height: 200px;
    }

    .alerta{
        top: 400px;
        left: 50px
    }

    .contenedor-botones{
        top: 430px;
        padding-left: 30px;
        display: block;
    }

    .btn-desencriptar{
        margin-top: 10px;
    }

    .seccion2{
        top: 510px;
        height: 300px;
        margin-left: 30px;
        right: 0px;
    }
    .contenedormunieco{
        display: none;
    }
    .contenedor-parrafo{
        top: 50px;
    }
    .contenedor-copiar{
        top:150px;
        padding-left: 15px;
    }
    .contenedor-resultado{
        height: 120px;
        margin: auto;
    }
    .footer{
        top:970px;
    }
}